:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --titles-text-color: rgba(33, 33, 33, 1);
  --white-color: rgba(255, 255, 255, 1);
  --ourteam-bgc-color: rgba(245, 244, 250, 1);
  --footer-color: rgba(47, 48, 58, 1);
  --active-color: rgba(33, 150, 243, 1);
  --icon-color: rgba(175, 177, 184, 1);
 

  --primary-margin: 30px;
  --grid-item: 3;

}
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  width: 1600px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  
}
.lists {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.link:hover,
.link:focus {
  color: var(--active-color);
}
/* header*/
.container {
  width: 1600px;
}
.header .container {
  height: 80px;
  background: #ffffff;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 215px;
}
.logo2 {
  color: var(--titles-text-color);
  position: absolute;
}
.header .logo {
  margin-right: 215px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlink {
  color: var(--titles-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts {
  display: flex;
  justify-content: flex-end;
  margin-right: 215px;
  margin-left: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.nav-list .item {
  margin-right: 40px;
}
.nav-list .item:nth-child(3) {
  margin-left: 0;
}
.navlink:hover,
.navlink:focus {
  color: var(--active-color);
}
.active {
  color: var(--active-color);
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 50px;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/*hero*/

.herotext {
  color: var(--white-color);
  background-color: #2f303a;
  background-image: url('../images/backgroundhero.jpg');
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  box-sizing: border-box;
  padding: 200px 450px 200px 450px;
  pad
}
.button {
  color: var(--white-color);
  background-color: #2196f3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;

  margin-top: -230px;
  text-align: center;
}
.button-sec {
  padding-bottom: 200px;
  padding-left: 700px;
 align-items: center;
}
/*specs*/
.specs-section {
  padding-top: 94px;
}
.specs-section .lists{
  display: flex;
  justify-content: center;
}
.specs-section .item {
align-self: center;
margin-left: 30px; 
}
.specs-section .item :first-child {
  margin-left: 0;
} 
.specs-section-text {
  width: 270px;
  height: 75px;
}


.specs-section-title {
  color: var(--titles-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.specs-section-text {
  font-size: 14px;
  line-height: 1.71;
}
.engagement-title {
  color: var(--titles-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
 .radarsvg {
 padding-top: 25px;
 padding-left: 102.34px;
 padding-bottom: 25px;
 padding-right: 102.34px;
 background-color: #F5F4FA;
 Corner radius: 4px;
 X: 2.34px
 Y: 0px
width: 65.32px
height: 70px
  }
.engagement {
  display: flex;
  justify-content: center;
}
.engagement .engagement-pic {
  align-self: center;
margin-left: 30px; 
padding-bottom: 94px;
}

.engagement .engagement-pic:first-child {
  margin-left: 0;

} 
.team {
  background: #F5F4FA;
}
.team .title {
  font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

padding-top: 94px;
padding-bottom: 50px;

color: #212121;
}


.team-title {
color: var(--titles-text-color);

font-weight: 500;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;
padding-top: 30px;
padding-bottom: 10px;
margin-bottom: 0;



background-color: #ffffff;

}

.team-text {

  font-size: 16px;
  line-height: 1.19;
  
  padding-bottom: 30px;
  margin-bottom: 0;
  text-align: center;
  background-color: #ffffff;
}
.team .lists {
  display: flex;
  justify-content: center;
}
.team .item {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

margin-left: 30px; 
margin-bottom: 94px;
}
.team .item:first-child {
margin-left: 0;
}

/*customers*/
.customers .lists {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--primary-margin));
  padding-bottom: 94px;
  padding-top: 50px;
}

 .customers .title {
  color: var(--titles-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 19px;
  
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 94px;
  
}


.item-customers .link {
  display: flex;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  height: 90px;
  justify-content: center;
  align-items: center;
}
.item-customers {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  --grid-item: 6;
 
}
.icon-clients {
  fill: var(--icon-color);
}
.item-customers .link:hover,
.item-customers .link:focus {
  border: 1px solid var(--active-color);
}
.item-customers .link:hover .icon-clients,
.item-customers .link:focus .icon-clients {
  fill: var(--active-color);
}
.item-customers:not(:first-child) {
  margin-left: var(--primary-margin);
}

 /*social*/

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background-color: #fff;
}

.social-icons-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icons-link {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}
.social-icons-item .link:hover,
.social-icons-item .link:focus,
.social-icons-item .link:hover .social-icons-link ,
.social-icons-item .link:focus .social-icons-link {
  background-color: var(--active-color);
  fill: var(--white-color);
}

  

/*footer*/
.footer {
  display: flex;
  background-color: var(--footer-color);
  height: 252px;
  padding-top: 0;
}
.footer-data {
  margin-right: 70px;
}
.come-us {
  display: block;
}
.come-us-text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  margin-top: 12px;
  padding-top: 72px;
}
.come-us .link {
  background-color: rgba(255, 255, 255, 0.1);
}


.footer-logo {
 padding-top: 60px; 
}
.footer-contacts {
  margin-left: 215px;
  margin-top: 20px;
}
.address {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-social {
  display: flex;
  flex-direction: row;
}


/*portfolio*/

.portfolio-button {
padding: 6px 22px;

  color: var(--titles-text-color);
  background-color: var(--ourteam-bgc-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;

margin-right: 8px;
border: azure;
  
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
}
.filter-button  {
  margin-top: 94px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}
.filter-button .lists {
  display: flex;
  justify-content: center;
}


.grid {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.grid .lists {
  display: flex;
  flex-wrap: wrap;
}

.grid .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.grid .item :nth-child(n3) {
margin-right: 0;
} 

.grid .item :last-child(-n+3) {
  margin-bottom: 0;
} 
